#quote{
    margin-top: 1rem;
    margin-left: 1rem;
    font-style:italic;
}
#heading{
     margin-left: 26rem;
}
#underHead{
    margin-left: 4rem;
    margin-top: -1rem;
}
#table{
    width: 35rem;
    background: whitesmoke;
    margin-left:25rem;
    margin-top:-10rem;
}
#ourPets{

    margin-left:38.5rem;
    margin-top:-16rem;
    font-style:italic;
}
#seeMore{
  margin-left:51rem;
  margin-top:14rem;
}
#progressHelp{
    margin-top:2rem;
    border-radius: 10rem;
    width:30rem;
}
#help{
    margin-top:1rem;
    margin-bottom: -2rem;
    margin-left: 1.25rem;
}
#giveHelp{
    margin-left:31rem;
    margin-top:-3.4rem;
}
#docCard{
    width:15rem;
}
#conCard{
    width:15rem;
}
#jobCard{
    width:15rem;
}
#cat{
    margin-top:-47rem;
    margin-left:39rem;
    height: 17rem;
}

.card-text{
    font-size: 0.8rem;
}